<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/public/main.css">
    <meta charset="utf-8">
    <title>iTheater</title>
  </head>
  <body>
    {{{body}}}
    I am layout
  </body>
</html>
