html
head
  link(href='/public/main.css', rel='stylesheet')
body
mixin movie-card(movie)
  div
    h2= movie.name
    ul
      div.movie-card
        img.movie-poster(src="/public/img/"+movie.posterImage)
        div.ratings=movie.ratings
        div= movie.discription



for movie in moviedataInsideTemplate
  +movie-card(movie)
