<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/public/main.css">
    <meta charset="utf-8">
    <title>iTheater</title>
  </head>
  <body>
    <h1 class="namedesign">{{namePage}}</h1>
    <div class="margindesign">
    <p>The goal is to be able to track every posible movie showing in a theater in your city.
    <li>Name Of The Theater.</li>
    <li>List Of movie(Name Of Movie, Type Of Movie).</li>
    <li>Movie Start Time.</li>
    <li>Search Parameter(City and Date)</li>
  </p>
 </div>

    <form action="/movie/add" method="get">

      FirstName<br>
      <input type="text" name="FirstName"><br>
      LastName:<br>
      <input type="text" name="LastName"><br>
      Email:<br>
      <input type="text" name="Email"><br>
      Password:<br>
      <input type="text" name="Password"><br>
      <input type="submit" name="send" value="send">
     </form>

  </body>
</html>
