<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/public/main.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>{{namePage}}</h1>

    <form action="/movie/add" method="get">

      FirstName<br>
      <input type="text" name="FirstName"><br>
      LastName:<br>
      <input type="text" name="LastName"><br>
      Email:<br>
      <input type="text" name="Email"><br>
      Password:<br>
      <input type="text" name="Password"><br>
      <input type="submit" name="send" value="send">
     </form>

  </body>
</html>
