.movie-poster {
  height: 100px;

}



.movie-card {
  background: #9966CC;
  width: 650px;
  color: white;
  -webkit-box-shadow: inset 0 1px 1px #999;
  -moz-box-shadow: inset 0 1px 1px #999;
  box-shadow: 0px 0px 11px #999;
  overflow: hidden;


}

#wrapper{
  color: #7D2A69;
}

#wrapper2{
  color: #CD0500 ;
  background-color: #FFCE6B;
  width: 650px;
  float: center;
  -webkit-box-shadow: inset 0 3px 3px #999;
  -moz-box-shadow: inset 0 3px 3px #999;
  box-shadow: 0px 0px 11px #999;
  overflow: hidden;


}
.ratingshighlight{
  color: pink;
}

body{
  background: #9966CC

}

form{
  position: center;
  -webkit-box-shadow: inset 0 3px 3px #999;
  -moz-box-shadow: inset 0 3px 3px #999;
  box-shadow: 0px 0px 11px #999;

}
.certificatsehighlight{
  color: pink;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
