<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>iTheater</title>
  </head>
  <body>
    <form class="moviepage" action="/movie/moviepage" method="get">
      movieoutput

    </form>

  </body>
</html>
